<header class="container max-w-full bg-gray-900 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-5">
        <div class="text-center md:text-left md:col-span-2">
            <h1 class="text-3xl md:text-4xl font-bold text-fuchsia-600 uppercase tracking-wide">
                <span class="md:ml-6">Dungeons, Dragons and Dices <i class="fa fa-dragon text-red-600"></i></span>
            </h1>
        </div>
        <div class="text-center md:text-right md:col-span-1 md:mr-6">
            <button class="bg-fuchsia-800 hover:bg-fuchsia-700 text-white font-bold py-2 px-4 rounded">
                Entrar
            </button>
        </div>
    </div>
</header>

<section id="hero" class="container max-w-full mx-auto bg-gray-900">
    <div class="flex justify-center text-center p-64 backdrop-blur-2xl">
        <div>
            <h1 class="text-white md:text-left text-3xl efeito-maquinaDeEscrever">Criaturas, mundos e cenários infinitos
                para se explorar!</h1>
            <button class="bg-fuchsia-800 hover:bg-fuchsia-700 text-white font-bold py-4 mt-16 px-8 rounded">INICIAR
                AVENTURA!</button>
        </div>
    </div>
</section>

<section id="sobre" class="container mx-auto max-w-full bg-gray-900 border-b-2 border-fuchsia-600 pb-9">
    <div class="border-b-2 border-fuchsia-600">
        <h1 class="text-3xl md:text-5xl text-white text-center py-10 md:py-28">CONHEÇA A NOSSA PLATAFORMA</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="text-center md:text-left">
            <p class="text-white text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl m-4 md:m-24">Baseado na quinta
                edição do gigantesco RPG de mesa <span class="text-red-600 font-bold">Dungeons & Dragons</span> a nossa
                plataforma te permite
                desfrutar de grandes partidas com seus amigos, dando todo o suporte tanto para os jogadores quanto para
                o mestre, permitindo uma experiência única e divertida. </p>
        </div>
        <div class="flex justify-center">
            <img src="../../../assets/mapa.svg" alt="mapa" class="max-w-full h-96">
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="order-2 md:order-1 flex justify-center">
            <img src="../../../assets/bruxa.svg" alt="bruxa" class="max-w-full h-96">
        </div>
        <div class="order-1 md:order-2 text-center md:text-left">
            <p class="text-white text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl m-4 md:m-24">Utilize todo o
                guia de raças, classes, itens, magias e muito mais para melhorar a sua experiência enquanto joga, além
                de desfrutar de um sistema exclusivo e inovador de criação de personagens e níveis. </p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="text-center md:text-left">
            <ul class="text-white text-base md:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl m-4 md:m-24 list-disc">
                <li>Sistema de dados e turnos para batalhas.</li>
                <li>Comunicação via chat, voz e vídeo.</li>
                <li>Ferramentas de criação para o mestre e de interação para os jogadores.</li>
            </ul>
        </div>        
        <div class="flex justify-center">
            <img src="../../../assets/magica.svg" alt="magica" class="max-w-full h-96">
        </div>
    </div>
</section>

<footer class="bg-gray-800 text-white text-center py-4">
    <p>&copy; 2024 Dungeons, Dragons and Dices. Todos os direitos reservados.</p>
    <p>Desenvolvido por <a href="https://github.com/Lucas19Alves">Lucas Alves</a></p>
</footer>


<!-- Audio na página -->
<audio autoplay loop>
    <source src="../../../assets/musica-fundo.mp3" type="audio/mpeg">
    Seu navegador não suporta o elemento de áudio.
</audio>
