<header class="container max-w-full bg-gray-900 mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-5">
        <div class="text-center md:text-left md:col-span-2">
            <h1 class="text-3xl md:text-4xl font-bold text-fuchsia-600 uppercase tracking-wide">
                <span class="md:ml-6">Dungeons, Dragons and Dices <i class="fa fa-dragon text-red-600"></i></span>
            </h1>
        </div>        
        <div class="text-center md:text-right md:col-span-1 md:mr-6">
            <button class="bg-fuchsia-800 hover:bg-fuchsia-700 text-white font-bold py-2 px-4 rounded">
                Entrar
            </button>
        </div>
    </div>
</header>

<section id="hero" class="container max-w-full mx-auto bg-gray-900">
    <div class="flex justify-center p-64 backdrop-blur-2xl">
        <h1 class="text-white md:text-left text-3xl">Criaturas, mundos e cenários infinitos para se explorar!</h1>
    </div>
</section>


<audio autoplay loop>
    <source src="../../../assets/musica-fundo.mp3" type="audio/mpeg">
    Seu navegador não suporta o elemento de áudio.
</audio>
  